notes-app/node_modules/*
weather-app/node_modules/*
web-server/node_modules/*
notes-app/.DS_Store
notes-app/package-lock.json
weather-app/node_modules/.bin/sshpk-conv
weather-app/node_modules/.bin/sshpk-sign
